<head>
  <div class="header-fixed">
    <div class="header-box">
      <div class="user-name">ユーザーネーム</div>
      <div class="friend-search">友達検索</div>
      <div class="logout-btn">ログアウト</div>
      <div class="music-output">投稿</div>
    </div>
  </div>
</head>

<div class="side-bar">
  <div class="mylist-bar">
    <div class="mylist-box">
      マイリスト一覧
      <div class="mylist-name">洋楽</div>
      <div class="mylist-name">邦楽</div>
      <div class="mylist-name">ロック</div>
      <div class="mylist-name">アニソン</div>
    </div>
  </div>
</div>

<div class="music-main">
  <div class="music-choice-monitor">
    <div class="music-choice-monitor-box">
      マイリストネーム
      <div class="mylist-music-list">
        <div class="mylist-music">
          <div class="music-number">1</div>
          <i class="far fa-play-circle"></i>
          <div class="music-name">曲名1</div>
        </div>
        <div class="mylist-music">
          <div class="music-number">2</div>
          <i class="far fa-play-circle"></i>
          <div class="music-name">曲名2</div>
        </div>
        <div class="mylist-music">
          <div class="music-number">3</div>
          <i class="far fa-play-circle"></i>
          <div class="music-name">曲名3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="music-play">
    <div class="music-play-box">aa</div>
  </div>
</div>
